@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/variable" as *;

.top-nav {
  .custom-select {
    &-selected-item {
      &::after {
        left: 100%;
      }
    }
    &-list {
      min-width: 150px;
    }
  }
  &__right {
    .helpline {
      color: $gray-700;
      font-size: 0.9rem;
      font-weight: 200;
    }
  }
}
.custom-select {
  position: relative;
  display: inline-block;

  &.open {
    position: relative;
    .custom-select-list {
      display: block;
    }
    .custom-select-selected-item {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &-selected-item {
    position: relative;
    font-size: 0.875rem;
    color: $gray-700;
    cursor: pointer;
    display: block;
    width: 100%;
    &::after {
      content: "\f107";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Line Awesome Free";
      color: $gray-700;
      font-weight: 900;
      margin-left: 0.2rem;
      font-size: 0.8rem;
      line-height: 1.8;
      transition: transform 0.5s;
    }
  }
  &-list {
    width: 100%;
    margin: 0.4rem 0;
    display: none;
    position: absolute;
    left: 0;
    top: 1.3rem;
    background-color: $white;
    border-radius: 6px;
    font-size: 0.8rem;
    @include border-gray-300;
    z-index: 9999999;

    &-item {
      position: relative;
      padding: 3px 15px;
      cursor: pointer;
      &.selected {
        background-color: $primary;
        color: #fff;
      }
    }
    &-item:first-child {
      &.selected {
        border-radius: 6px 6px 0 0;
      }
    }
    &-item:last-child {
      &.selected {
        border-radius: 0 0 6px 6px;
      }
    }
    &-item:not(:last-child) {
      border-bottom: 1px solid #f7f7f7;
    }
  }
}
