@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/variable" as *;

.seler-card {
  

  &__img {
    display: flex;
    justify-content: center;
    img {
    
    }
  }
  &__body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin-top: 1rem;
    .link{
      font-size: .9rem;
    }
  }
}
