@use "../custom" as *;
@use "../components/mixins" as *;

.product-card {
  border: 1px solid $gray-300;
 border-radius: 6px;
  position: relative;
  overflow: hidden;
  @include transition-sm;
  &:hover {
    border: 1px solid $primary;
    .product-card__action {
      opacity: 1;
      visibility: visible;
      right: 1rem;
      
    }
    .product-card__action-v2 {
      opacity: 1;
      visibility: visible;
      bottom: 28%;  
    }
    .product-card__img {
      display: block;

      img {
        transform: scale(1.2);
      }
    }
  }

  &__img {
    overflow: hidden;
    display: block;
    img {
      @include transition-sm;
      
    }
  }
 
  &__action {
    position: absolute;
    top: 1rem;
    right: -4rem;
    padding: 1px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    .action-btn {
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      @include shadow-1;
     border-radius: 6px;
      margin-bottom: 0.5rem;
      transition: all 0.9s ease-in-out;
      &:hover {
        background-color: $primary;
        color: #fff;
        transition: all 0.7s ease;
      }
      i {
        font-size: 1.3rem;
      }
      
    }
  }
  &__action-v2 {
    display: flex;
    gap: .8rem;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    padding: 1px;
    transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    .action-btn {
      background-color: #fff;
      @include shadow-1;
     border-radius: 6px;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.9s ease-in-out;
      line-height: 0;
      padding-bottom: 0;
      &:hover {
        background-color: $primary;
        color: #fff;
        transition: all 0.7s ease;
      }
      i {
        font-size: 1.3rem;
       
      }
      
    }
  }
  .discount {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
    background-color: $primary;
    color: #fff;
    font-size: 0.9rem;
  }

  &__body {
    color: $black;
    text-align: start;
    padding: 1.5rem;
    .title {
      @include line-clamp;
      margin-bottom: 1rem;
    }

    .price-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      @include media-breakpoint-down(md) {
        font-size: .8rem;
      }
      
      .line-through {
        text-decoration: line-through;
        color: $gray-600;
      }

      .sold {
        color: $gray-600;
      }
    }
  }
}

.nav-underline {
  .nav-link {
    color: $gray-800;
    transition: all 0.5s ease;
    &.active {
      color: $primary;
      transition: all 0.5s ease;
    }
    &:hover {
      color: $primary;
      transition: all 0.5s ease;
    }
  }
}
.line-through {
  text-decoration: line-through;
  color: $gray-600;
}